<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация на сайте</title>
</head>
<body>
    <h1>Регистрация</h1>
    <h2>все поля обязательны для заполнения</h2>
    <form method="post" th:action="@{/user}" >
        <h3>Введите имя пользователя</h3>
        <input name="first_name" />
        <span  if="${#fields.hasErrors('first_name')}"
        errors="{first_name}"></span>
        <h3>Введите фамилию пользователя</h3>
        <input name="last_name" >
        <h3>Введите пароль</h3>
        <input name="password" >
        <h3>Введите e-mail</h3>
        <input name="email" >
        <br>
        <br>
        <button>Зарегистрироваться</button>
        <br>

    </form>
    <form method="post" th:action="@{/}">
        <button>На главную</button>
    </form>


</body>
</html>
